@media(max-width: 576px) {
       .grocery-item {
              flex-direction: column;
              .grocery-name {
                     text-align: center;
              }
              .grocery-name,
              select,
              small {
                     margin-bottom: 5px;
              }
       }
       .grocery {
              .status-and-priority {
                     flex-direction: column;
                     text-align: center;
                     justify-content: space-between;
              }
              .grocery-btns {
                     max-width: 70%;
              }
       }
}